In [1]:
import pandas as pd #lets get our importing out of the way
import numpy as np

school_data = pd.read_csv("Resources/schools_complete.csv") #importing in as a dataframe
student_data = pd.read_csv("Resources/students_complete.csv")

In [2]:
school_data.columns, student_data.columns #see what we're working with

(Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object'),
 Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
        'reading_score', 'math_score'],
       dtype='object'))

In [40]:
school_data.head #closer look

39170

In [4]:
student_data.head() #closer look

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
print(school_data.shape) #very small
student_data.shape # very large!

(15, 5)

(39170, 7)

In [11]:
district_df_titles = ["# of Schools", "# of Students", "Budget","Avg Math","Avg Reading", "% Passing Math", "% Passing Reading", "% Passing Both"]
# made the titles a list so hopefully it is easier to make the later df titles
district_df_values = []

In [12]:
school_count = len(school_data["School ID"].unique())
district_df_values.append(school_count)
district_df_values

[15]

In [13]:
student_count = len(student_data["Student ID"].unique())
district_df_values.append(student_count)

In [14]:
total_budget = school_data["budget"].sum()
district_df_values.append(total_budget)

In [15]:
avg_math = student_data["math_score"].mean()
district_df_values.append(avg_math)

In [16]:
avg_read = student_data["reading_score"].mean()
district_df_values.append(avg_read)

In [17]:
passing_math_perc = len(student_data[student_data["math_score"]>=70])*100/student_count 
# asumming 70% is the lowest passing score
district_df_values.append(passing_math_perc)

In [18]:
passing_read_perc = len(student_data[student_data["reading_score"]>=70])*100/student_count 
# asumming 70% is the lowest passing score
district_df_values.append(passing_read_perc)

In [19]:
passing_both_perc = len(student_data[(student_data["reading_score"]>=70) & (student_data["math_score"]>=70)])*100/student_count
# student_data["reading_score"]>=70 makes a df of trues and falses, the student_data[] outside makes a df of all the trues
# this is a long function, but just looks for where reading and math scores are both > 70, makes a df and counts them
district_df_values.append(passing_both_perc)

In [20]:
district_df_values

[15,
 39170,
 24649428,
 78.98537145774827,
 81.87784018381414,
 74.9808526933878,
 85.80546336482001,
 65.17232575950983]

In [22]:
district_df = pd.DataFrame([district_df_values], columns = district_df_titles) # has to be a list of lists to seperate into  a row

' Screw this skip for now.\nI MUST BE MISSING A COLUMN...\n\n\nk = np.random.randint(0,100, size = (1,5)) #rows, columns\n\ncolumns = ["A","B","C","D","E"]\n\ndf = pd.DataFrame(k , columns=columns)\n'

In [25]:
district_df["# of Students"] = district_df["# of Students"].map("{:,}".format)
district_df["Budget"] = district_df["Budget"].map("${:,.2f}".format)
district_df

,# of Schools,# of Students,Budget,Avg Math,Avg Reading,% Passing Math,% Passing Reading,% Passing Both
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [27]:
merged_school = pd.merge(school_data, student_data, how = "inner", on = "school_name")

In [28]:
merged_school

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [33]:
school_name = list(school_data["school_name"].unique()) # School names
school_type = [school_data["type"]] #everything should be in order unless the csv is reorganized

In [34]:
for x in school_data["school_name"]:
    if

[0     District
 1     District
 2      Charter
 3     District
 4      Charter
 5      Charter
 6      Charter
 7     District
 8      Charter
 9      Charter
 10     Charter
 11    District
 12    District
 13    District
 14     Charter
 Name: type, dtype: object]

In [35]:
school_types = school_data.set_index(["school_name"])["type"]

In [37]:
type(school_types)

pandas.core.series.Series

In [41]:
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [49]:
merged_school.set_index(["school_name"]).groupby(["school_name"]).mean() # could potentially merge the dataframes to get math +read?

,School ID,size,budget,Student ID,reading_score,math_score
school_name,,,,,,
Bailey High School,7.0,4976.0,3124928.0,20358.5,81.033963,77.048432
Cabrera High School,6.0,1858.0,1081356.0,16941.5,83.975780,83.061895
Figueroa High School,1.0,2949.0,1884411.0,4391.0,81.158020,76.711767
Ford High School,13.0,2739.0,1763916.0,36165.0,80.746258,77.102592
Griffin High School,4.0,1468.0,917500.0,12995.5,83.816757,83.351499
Hernandez High School,3.0,4635.0,3022020.0,9944.0,80.934412,77.289752
Holden High School,8.0,427.0,248087.0,23060.0,83.814988,83.803279
Huang High School,0.0,2917.0,1910635.0,1458.0,81.182722,76.629414
Johnson High School,12.0,4761.0,3094650.0,32415.0,80.966394,77.072464
Pena High School,9.0,962.0,585858.0,23754.5,84.044699,83.839917
Rodriguez High School,11.0,3999.0,2547363.0,28035.0,80.744686,76.842711
Shelton High School,2.0,1761.0,1056600.0,6746.0,83.725724,83.359455
Thomas High School,14.0,1635.0,1043130.0,38352.0,83.848930,83.418349
Wilson High School,5.0,2283.0,1319574.0,14871.0,83.989488,83.274201
Wright High School,10.0,1800.0,1049400.0,25135.5,83.955000,83.682222